# Creating the model
### Importing the libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn import ensemble
from sklearn.metrics import mean_absolute_error, zero
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
import joblib

### Loading the data

In [2]:
data = pd.read_csv('../2 - Processed data/data.csv')

In [3]:
# Reading the data
data.tail()

,Unnamed: 0,sq_mt_built,n_rooms,n_bathrooms,n_floors,buy_price,is_renewal_needed,is_new_development,house_type_id_HouseType 1: Pisos,house_type_id_HouseType 2: Casa o chalet,house_type_id_HouseType 4: Dúplex,house_type_id_HouseType 5: Áticos
20608,21737,78.0,2,2.0,1.0,350000,False,False,0,0,0,1
20609,21738,96.0,2,2.0,1.0,425000,False,False,1,0,0,0
20610,21739,175.0,4,2.0,1.0,680000,False,False,1,0,0,0
20611,21740,289.0,4,3.0,3.0,695000,False,False,0,1,0,0
20612,21741,72.0,2,2.0,1.0,424000,False,True,1,0,0,0

### Creating the features data set and getting the dependent variable (y)

In [4]:
# Copying the main data set into a new data set
features_data = data.copy()

In [5]:
# Removing the dependent variable and the Unnamed columns
del features_data['Unnamed: 0']
del features_data['buy_price']

In [6]:
# Creating the X and y arrays
X = features_data.to_numpy()
y = data['buy_price'].to_numpy()

In [7]:
'''
    Splitting the data set in a training set and a test set.
    The test set is formed by 30% of the original set.
'''
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.35, random_state = 557)

### Creating and fitting the model

In [8]:
model = ensemble.GradientBoostingRegressor(
    n_estimators = 3000,
    learning_rate = 0.8,
    max_depth = 8,
    min_samples_leaf = 10,
    loss = 'squared_error'
)

# Fitting the model
model.fit(X_train, y_train)

GradientBoostingRegressor(learning_rate=0.8, max_depth=8, min_samples_leaf=10,
                          n_estimators=3000)

In [9]:
# Finding the error rate on the training set
error = mean_absolute_error(y_train, model.predict(X_train))
print(f'''
    The mean absolute error of the test set is: {error:.4f}
''')

    The mean absolute error of the test set is: 72482.3532

In [10]:
# Trying another method
model = SVC()

# Fitting the model
model.fit(X_train, y_train)

SVC()

In [ ]:
# Finding the error rate on the training set
error = mean_absolute_error(y_train, model.predict(X_train))
print(f'''
    The mean absolute error of the test set is: {error:.4f}
''')

In [ ]:
y_train